application: {}
environments:
  acc: {}
  dev: {}
  prod:
    allow_drop_all: 'True'
    api_path: /api
    description: Server configuration
    ip: 0.0.0.0
    logging:
      backup_count: 5
      datefmt: '%Y-%m-%d %H:%M:%S'
      file: server-conf.log
      format: '%(asctime)s - %(name)-14s - %(levelname)-8s - %(message)s'
      level: DEBUG
      max_size: 1024
      use_console: true
    port: '5000'
    uri: postgresql://vantage:vantage@db/vantage


    vpn_server:
      # the URL of your VPN server
      url:

      # OATH2 settings, make sure these are the same as in the
      # configuration file of your EduVPN instance
      # Username and password to acccess the EduVPN portal
      redirect_url: http://localhost                                                                                                                                                        
      client_id: 
      client_secret: 


      portal_username: 
      portal_userpass: 
